# Ignore everything
/*
**/.venv
**/venv
**/.DS_store

# Except
!.gitignore
!.zshrc
!.vimrc

!.config/
.config/*
!.config/yabai
!.config/skhd
!.config/nvim
.config/nvim/env


#alacritty
!.config/alacritty
.config/alacritty/*
!.config/alacritty/alacritty.yml

!*/Library/Application\ Support/Code/User/settings.json
