# Ignore everything
/*
**/.venv
**/venv
**/.DS_store

# Except
!.gitignore
!.zshrc
!.vimrc

!.config/
.config/*
!config/yabai
!config/skhd
!.config/nvim
.config/nvim/env



!*/Library/Application\ Support/Code/User/settings.json
